server {
    server_name {{ rdmo_url }};

    root /var/www/{{ rdmo_url }};
    index index.html;

    location /static/ {
        alias {{ rdmo_home }}/rdmo-app/static_root/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_pass http://unix:/run/gunicorn/{{ rdmo_service }}/rdmo.sock;
    }

    listen [::]:443 ssl;
    listen 443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ rdmo_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ rdmo_url }}/privkey.pem;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;

    include /etc/nginx/snippets/security.conf;
}

server {
    if ($host = {{ rdmo_url }}) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    listen [::]:80;

    server_name {{ rdmo_url }};
    return 404;
}
